.board1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  place-items: center;
  width: 12em;
  margin: auto;
  padding: 1em;
  border: 1px solid black;
}

.board2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  place-items: center;
  width: 12em;
  margin: auto;
  margin-top: 4em;
  padding: 1em;
  border: 1px solid black;
}
